name: "91 - Merge PullRequest"

on: pull_request_target

permissions:
  id-token: write
  pull-requests: write
  contents: write

jobs:
  run-tests:
    name: Test-and-Build
    uses: ./.github/workflows/21-test-chatapp.yml
    secrets: inherit

  merge-pull-request:
    runs-on: ubuntu-latest
    steps:
    - name: dependabot-metadata
      id: metadata
      uses: dependabot/fetch-metadata@v2.3.0

    - name: pullrequest-auto-merge
      if: steps.metadata.outputs.update-type != 'version-update:semver-major'
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh pr merge --auto --squash "${{ github.event.pull_request.html_url }}"

    - name: pullrequest-rebase
      if: failure()
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh pr comment "${{ github.event.pull_request.html_url }}" --body "@dependabot rebase"
        echo "Trigger dependabot rebase"
